In [1]:
import pandas as pd

# Create a dictionary with the data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eva', 'Frank', 'Grace', 'Henry', 'Ivy', 'Jack'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Age': [25, 30, 35, 28, 27, 40, 32, 45, 26, 28],
    'Height (cm)': [165, 180, 175, 170, 175, 190, 168, 175, 172, 180],
    'Weight (kg)': [58, 80, 70, 65, 60, 85, 55, 75, 63, 78],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Miami', 'New York', 'Houston', 'Chicago', 'Los Angeles', 'Miami', 'New York']
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the first 5 rows of the DataFrame
print(df.head())

      Name  Gender  Age  Height (cm)  Weight (kg)         City
0    Alice  Female   25          165           58     New York
1      Bob    Male   30          180           80  Los Angeles
2  Charlie    Male   35          175           70      Chicago
3    Diana  Female   28          170           65        Miami
4      Eva  Female   27          175           60     New York

In [7]:
import pandas as pd

print("Number of rows:", pd.DataFrame(data).shape[0])
print("Number of columns:", pd.DataFrame(data).shape[1])

Number of rows: 10
Number of columns: 6

In [8]:
import pandas as pd

print(pd.DataFrame(data).isnull().sum())

Name           0
Gender         0
Age            0
Height (cm)    0
Weight (kg)    0
City           0
dtype: int64

In [9]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eva', 'Frank', 'Grace', 'Henry', 'Ivy', 'Jack'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Age': [25, 30, 35, 28, 27, 40, 32, 45, 26, 28],
    'Height (cm)': [165, 180, 175, 170, 175, 190, 168, 175, 172, 180],
    'Weight (kg)': [58, 80, 70, 65, 60, 85, 55, 75, 63, 78],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Miami', 'New York', 'Houston', 'Chicago', 'Los Angeles', 'Miami', 'New York']
}

df = pd.DataFrame(data)

# Calculate the average age, height, and weight
avg_age = df['Age'].mean()
avg_height = df['Height (cm)'].mean()
avg_weight = df['Weight (kg)'].mean()

print("Average Age:", avg_age, "years")
print("Average Height:", avg_height, "cm")
print("Average Weight:", avg_weight, "kg")

Average Age: 31.6 years
Average Height: 175.0 cm
Average Weight: 68.9 kg

In [10]:
import pandas as pd

# Find the index of the tallest person
tallest_index = df['Height (cm)'].idxmax()

# Get the name and city of the tallest person
tallest_person = df.loc[tallest_index, ['Name', 'City']]

print("The tallest person in the DataFrame is:")
print("Name:", tallest_person['Name'])
print("City:", tallest_person['City'])

The tallest person in the DataFrame is:
Name: Frank
City: Houston

In [11]:
import pandas as pd

 
# Convert height from cm to m
df['Height (m)'] = df['Height (cm)'] / 100

# Calculate BMI
df['BMI'] = df['Weight (kg)'] / (df['Height (m)'] ** 2)

# Print the DataFrame with the new column
print(df)

      Name  Gender  Age  Height (cm)  Weight (kg)         City  Height (m)  \
0    Alice  Female   25          165           58     New York        1.65
1      Bob    Male   30          180           80  Los Angeles        1.80
2  Charlie    Male   35          175           70      Chicago        1.75
3    Diana  Female   28          170           65        Miami        1.70
4      Eva  Female   27          175           60     New York        1.75
5    Frank    Male   40          190           85      Houston        1.90
6    Grace  Female   32          168           55      Chicago        1.68
7    Henry    Male   45          175           75  Los Angeles        1.75
8      Ivy  Female   26          172           63        Miami        1.72
9     Jack    Male   28          180           78     New York        1.80

         BMI
0  21.303949
1  24.691358
2  22.857143
3  22.491349
4  19.591837
5  23.545706
6  19.486961
7  24.489796
8  21.295295
9  24.074074

In [12]:
import pandas as pd

# Group the data by gender
grouped = df.groupby('Gender')

# Calculate average age, height, and weight for males and females
averages = grouped.agg({'Age': 'mean', 'Height (cm)': 'mean', 'Weight (kg)': 'mean'})

# Rename columns for clarity
averages.columns = ['Average Age', 'Average Height', 'Average Weight']

# Print the average values for males and females
print(averages)

        Average Age  Average Height  Average Weight
Gender
Female         27.6           170.0            60.2
Male           35.6           180.0            77.6

In [13]:
import pandas as pd

# Sort the DataFrame by age in ascending order
sorted_data = df.sort_values(by='Age')

# Print the first 3 rows of the sorted DataFrame
print(sorted_data.head(3))

    Name  Gender  Age  Height (cm)  Weight (kg)      City  Height (m)  \
0  Alice  Female   25          165           58  New York        1.65
8    Ivy  Female   26          172           63     Miami        1.72
4    Eva  Female   27          175           60  New York        1.75

         BMI
0  21.303949
8  21.295295
4  19.591837

In [14]:
import pandas as pd

# Filter the data to include only people who live in New York
ny_data = df[df['City'] == 'New York']

# Print the resulting DataFrame
print(ny_data)

    Name  Gender  Age  Height (cm)  Weight (kg)      City  Height (m)  \
0  Alice  Female   25          165           58  New York        1.65
4    Eva  Female   27          175           60  New York        1.75
9   Jack    Male   28          180           78  New York        1.80

         BMI
0  21.303949
4  19.591837
9  24.074074