In [4]:
import pandas as pd


data = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")


print(data.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")

num_rows, num_cols = data.shape
print(f"Number of rows:{num_rows}")
print(f"Number of columns:{num_cols}")

Number of rows:150
Number of columns:5

In [6]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")

null_counts = data.isnull().sum()
print(null_counts)

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [9]:
import pandas as pd

data = {'name': ['Alice','bob','Charlie'],'age':[25,30,35],'height':[170,180,175],'weight':[65,70,75]}
df = pd.DataFrame(data)
        
average_age = df['age'].mean()
average_height = df['height'].mean()
average_weight = df['weight'].mean()

print(f"Average Age:{average_age}")
print(f"Average Height:{average_height}")
print(f"Average weight:{average_weight}")

Average Age:30.0
Average Height:175.0
Average weight:70.0

In [16]:
import pandas as pd

data = {'Name': ['Alice','Bob','Charlie','David','Emily','Grace','Frank','Hannah'],'Height': [165,180,172,175,160,185,168,170]}

people_data = pd.DataFrame(data)

print(people_data)

      Name  Height
0    Alice     165
1      Bob     180
2  Charlie     172
3    David     175
4    Emily     160
5    Grace     185
6    Frank     168
7   Hannah     170

In [17]:
import pandas as pd

data = {'Name': ['Alice','Bob','Charlie','David','Emily','Grace','Frank','Hannah'],'Height': [165,180,172,175,160,185,168,170]}

people_data = pd.DataFrame(data)

people_data['Height'] = people_data['Height']/100
people_data['BMI'] = 65 / (people_data['Height']**2)
print(people_data)

      Name  Height        BMI
0    Alice    1.65  23.875115
1      Bob    1.80  20.061728
2  Charlie    1.72  21.971336
3    David    1.75  21.224490
4    Emily    1.60  25.390625
5    Grace    1.85  18.991965
6    Frank    1.68  23.030045
7   Hannah    1.70  22.491349

In [20]:
import pandas as pd

data = {'Name': ['Alice','Bob','Charlie','David','Emily','Grace','Frank','Hannah'],'Age': [25,30,35,40,28,32,27,33],'Gender': ['Female','Male','Male','Male','Female','Male','Female','Female'],'Height': [165,180,172,175,160,185,168,170],'Weight': [60,75,70,80,55,85,63,68]}

people_data = pd.DataFrame(data)
grouped_data = people_data.groupby('Gender').agg({'Age':'mean','Height':'mean','Weight':'mean'})

print(grouped_data)

          Age  Height  Weight
Gender
Female  28.25  165.75    61.5
Male    34.25  178.00    77.5

In [1]:
import pandas as pd

data = {'Name': ['Alice','Bob','Charlie','David','Emily','Grace','Frank','Hannah'],'Age': [25,30,35,40,28,32,27,33],'Gender': ['Female','Male','Male','Male','Female','Male','Female','Female'],'Height': [165,180,172,175,160,185,168,170],'Weight': [60,75,70,80,55,85,63,68]}

people_data = pd.DataFrame(data)

sorted_data = people_data.sort_values(by='Age')
print(sorted_data.head(3))

    Name  Age  Gender  Height  Weight
0  Alice   25  Female     165      60
6  Frank   27  Female     168      63
4  Emily   28  Female     160      55

In [3]:
import pandas as pd

data = {'Name': ['Alice','Bob','Charlie','David','Emily'],'Age': [25,30,35,40,28],'Gender': ['Female','Male','Male','Male','Female'],'Height': [165,180,172,175,160],'Weight': [60,75,70,80,55],'Location': ['New york','California','New York','Texas','New York']}

people_data = pd.DataFrame(data)

my_people_data = people_data[people_data['Location']== 'New York']

print(my_people_data)

      Name  Age  Gender  Height  Weight  Location
2  Charlie   35    Male     172      70  New York
4    Emily   28  Female     160      55  New York